In [1]:
# Libraries 

import psycopg2
import psycopg2.extras

# PostgreSQL

## Connect to Database

In [3]:
hostname = 'localhost'
database = 'sales'
username = 'postgres'
pwd = ....
port_id = 5432

conn = psycopg2.connect(
    host = hostname,
    dbname = database,
    user = username,
    password = pwd,
    port = port_id)

cur = conn.cursor(cursor_factory = psycopg2.extras.DictCursor)

## Look at all Table Names

In [4]:
query = "SELECT * FROM information_schema.tables WHERE table_schema = 'public'"
cur.execute(query)
for record in cur.fetchall():
    print(record)

['sales', 'public', 'employee', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None]
['sales', 'public', 'web_events', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None]
['sales', 'public', 'sales_reps', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None]
['sales', 'public', 'region', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None]
['sales', 'public', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None]
['sales', 'public', 'accounts', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None]

## General Look all Tables

### web_events

In [5]:
query = 'SELECT * FROM web_events LIMIT 5'
cur.execute(query)
for record in cur.fetchall():
    print(record)

[1, 1001, datetime.datetime(2015, 10, 6, 17, 13, 58), 'direct']
[2, 1001, datetime.datetime(2015, 11, 5, 3, 8, 26), 'direct']
[3, 1001, datetime.datetime(2015, 12, 4, 3, 57, 24), 'direct']
[4, 1001, datetime.datetime(2016, 1, 2, 0, 55, 3), 'direct']
[5, 1001, datetime.datetime(2016, 2, 1, 19, 2, 33), 'direct']

### accounts

In [6]:
query = 'SELECT * FROM accounts LIMIT 5'
cur.execute(query)
for record in cur.fetchall():
    print(record)

[1001, 'Walmart', 'www.walmart.com', Decimal('40.23849561'), Decimal('-75.10329704'), 'Tamara Tuma', 321500]
[1011, 'Exxon Mobil', 'www.exxonmobil.com', Decimal('41.16915630'), Decimal('-73.84937379'), 'Sung Shields', 321510]
[1021, 'Apple', 'www.apple.com', Decimal('42.29049481'), Decimal('-76.08400942'), 'Jodee Lupo', 321520]
[1031, 'Berkshire Hathaway', 'www.berkshirehathaway.com', Decimal('40.94902131'), Decimal('-75.76389759'), 'Serafina Banda', 321530]
[1041, 'McKesson', 'www.mckesson.com', Decimal('42.21709326'), Decimal('-75.28499823'), 'Angeles Crusoe', 321540]

### orders

In [7]:
query = 'SELECT * FROM orders LIMIT 5'
cur.execute(query)
for record in cur.fetchall():
    print(record)

[1, 1001, datetime.datetime(2015, 10, 6, 17, 31, 14), 123, 22, 24, 169, Decimal('613.77'), Decimal('164.78'), Decimal('194.88'), Decimal('973.43')]
[2, 1001, datetime.datetime(2015, 11, 5, 3, 34, 33), 190, 41, 57, 288, Decimal('948.10'), Decimal('307.09'), Decimal('462.84'), Decimal('1718.03')]
[3, 1001, datetime.datetime(2015, 12, 4, 4, 21, 55), 85, 47, 0, 132, Decimal('424.15'), Decimal('352.03'), Decimal('0.00'), Decimal('776.18')]
[4, 1001, datetime.datetime(2016, 1, 2, 1, 18, 24), 144, 32, 0, 176, Decimal('718.56'), Decimal('239.68'), Decimal('0.00'), Decimal('958.24')]
[5, 1001, datetime.datetime(2016, 2, 1, 19, 27, 27), 108, 29, 28, 165, Decimal('538.92'), Decimal('217.21'), Decimal('227.36'), Decimal('983.49')]

### sales_reps

In [8]:
query = 'SELECT * FROM sales_reps LIMIT 5'
cur.execute(query)
for record in cur.fetchall():
    print(record)

[321500, 'Samuel Racine', 1]
[321510, 'Eugena Esser', 1]
[321520, 'Michel Averette', 1]
[321530, 'Renetta Carew', 1]
[321540, 'Cara Clarke', 1]

### region

In [9]:
query = 'SELECT * FROM region LIMIT 5'
cur.execute(query)
for record in cur.fetchall():
    print(record)

[1, 'Northeast']
[2, 'Midwest']
[3, 'Southeast']
[4, 'West']